.jumbotron.errorpadding {padding-top:105px;padding-bottom:45px;background:#eee;}
.jumbotron.jumbo-padding {padding-top:105px;padding-bottom:45px;background:#eee;}
.jumbotron.slider-padding {padding:0;margin-top:60px;}
.jumbotron.errorpadding img {margin-bottom:15px;}
.jumbotron.text-center img {display:block;margin:0 auto;}
.carousel-inner .item img  {margin:0 auto!important;width:100%;}
.content-padding {padding-top:40px;padding-bottom:40px;}
.maintenance {height:100vh;background:#eee;padding-top: 10%;}
.maintenance-logo {margin-bottom:15px;}

.navbar { 
	display: none;
}
.navbar-brand {
    float: left!important;
    font-size: 18px!important;
    line-height: 20px!important;
    padding: 12px 15px;
	height: 60px!important;
}

.navbar-nav > li > a {
    padding-bottom: 20px!important;
    padding-top: 20px!important;
}

.navbar-inverse {
    display: none;
}

.container.content-padding {
  margin-top: 50px;
}
.container.content-padding .col-md-9 {
  margin-top: 30px;
}
.news-boxes > .row {
	border: 1px solid #eaeaea;
	box-shadow: 0px 0px 31px #eaeaea;
    border-radius: 4px;
}
.news-boxes .row:first-child(){
	margin-top: 30px !important;
}
.news-boxes .row > .col-md-3, .news-boxes .row > .col-md-9 {
  width: 100%;
}
.news-boxes .row > .col-md-9 {
  margin-top: -30px;
  padding: 0 4rem;
}

.news-boxes .row > .col-md-9 .meta {
    float: right;
    text-align: right;
    background: #000000bf;
    color: #fff;
    padding: 10px;
}
h3 a {
    color: #000;
    font-weight: bold;
}
.col-md-3 > .row > .col-md-12 h3 {
    background: #719220;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 10px;
	color:#fff;
	margin-top: 0;
	margin-bottom: 0 !important;
}
.list-group-item {
	background: #ddd !important;
}
.list-group-item:nth-child(2n) {
    background: #fff !important;
}
.list-group .list-group-item a {
    color: #222;
}
.btn-primary {
    color: #fff;
	background-color:#719220 !important;
    border-color: #719220 !important;
    border-radius: 0 !important;
    min-width: 200px;
}
.btn-primary:hover {
    background-color:#000;
    border-color: #000;
    
}

.btn-lg, .btn-sm, .btn-xs {margin:5px 0;display:inline-block;}
.row h1,.row .h1,.row h2,.row .h2,.row h3,.row .h3 {margin-bottom: 15px;}
.list-group-item > a > .badge {float: right;}
.meta {font-size:0.8em;}
.text-right {text-align:right;}
.text-left {text-align:left;}
.float-right {float:right;}
.float-left {float:left;}
h2 {margin-top:0;}
.search-margin {margin-top:40px;}
.search-container {background:#ddd}
.footer {background:#eee}
.search-container .form-group {margin:0;}
.search-container .btn {display:block;width:100%;}
.thumbnail .caption {min-height:300px;}


