<?php

//Skearch News Base URL
define ('BASE_URL', 'https://localhost/news');

//Skearch News Database details
define ('DB_HOST', 'localhost');
//Username
define('DB_USERNAME', 'your_db_username');
//Pass
define('DB_PASS', 'your_db_password');
//Database Name
define ('DB_NAME', 'skearch_news');

//Email/Cookie URL
define ('EMAIL_URL', '');

//Skearch Base Database details
define ('DB_NAME_DEFAULT', 'skearch_dev');

?>
